{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "comma-dangle": [
      "error",
      "never"
    ],
    "semi": [
      "error",
      "always"
    ],
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "react/no-find-dom-node": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/href-no-hash": 0,
    "no-console": "off"
  },
  "globals": {
    "document": true,
    "window": true,
    "console": true
  },
  "env": {
    "jest": true
  }
}
